.button {
    @extend %transition;
}

.button {
    @extend %font-primary;
    @include font ($size: 1.6rem, $height: 2.2rem, $weight: 600);
    padding: 11px 25px 13px;
    border-radius: 4px;
    cursor: pointer;

    &_bordered {
        background: $color-light;
        border: 1px solid $color-border;
        color: $color-text;
        &:hover {
            background: $color-light;
            border: 1px solid $color-active-state;
            color: $color-active-state;
        }
    }

    &_colored {
        background: $color-brand;
        color: $color-light;
        border: 1px solid $color-brand;
        &:hover {
            background: $color-active-state;
            border-color: $color-active-state;
        }
    }
}

.link-button {
    @extend %font-add;
    color: $color-brand;
    display: inline-flex;
    align-items: center;

    .link-button__text {
        margin-left: 9px;
    }
}