.logo-object {
    @include media-mobile {
        width: 158px;
    }
}

.logo_link {
    display: flex;
    align-items: center;
}

.logo-path {
    @extend %transition;
}

.logo-svg:hover {
    .logo-path {
        fill: $color-brand;
    }
}