.wrapper__about {
    padding-bottom: 101px;
}

.employee__container {
    padding-right: 32px;
}

.about__header {
    margin-bottom: 14px;
}

.about__text {
    @include font ($size: 1.6rem, $height: 2.6rem, $weight: 400);
    color: $color-text;
    margin-bottom: 45px;
}

.employee {
    display: flex;
    padding: 36px 0px 34px 35px;
    position: relative;
    width: 345px;
}

.employee__photo {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: -32px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15)
}

.employee__name {
    @include font($size: 1.6rem, $height: 2.6rem, $weight: 700);
}

.employee__title {
    @include font($size: 1.4rem, $height: 2.6rem, $weight: 400);
}

.employee__contact {
    @include font($size: 1.4rem, $height: 2.6rem, $weight: 400);
    color: $color-link;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}