.contant-us {
    background: $color-background;
    padding: 62px 82px;
    @include media-tablet {
        padding: 48px 0px;
        text-align: center;
    }
}

.contact-us__form {
    input, textarea {
        border: none;
        border-radius: 5px;
        background: $color-light;
        padding: 10px 21px;
        &:focus {
            outline: 2px solid $color-brand;
        }
    }

    textarea {
        resize: none;
        width: 100%;
        height: 159px;
    }
}

.contact-us__line {
    margin-bottom: 19px;
}

.contant-us__container {
    @include media-tablet {
        flex-direction: column;
    }   
}